
.arrowIcon{
    font-size: 18px;
    margin-left: 16px;
    cursor: pointer;
}
.offerRow{
    width: 95%;
    background-color: white;
    margin-left: 1%;
    height: 75px;
    box-shadow: 2px 2px 3px #0000001A;
    margin-left: 3%;
}

.headerText{
    margin-left: 12px;
}

.name{
    margin-left: -33px;
}

.image{
    margin-top: 17px;
    /* margin-left: 10px; */
}

.fa-thumbs-up{
    color: green;
}

.leftBorder{
    border-left: solid 1px #E6E6E6;
    height: 64px;
}

.comment{
    font-family: 'Nunito Sans';
    color: #8A8A8A;
}

.contant{
    font-size: 12px;
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #8A8A8A;
    margin-top: 10px;
    line-height: 16px;
    font-weight: 400;
}

.dropName{
    width: 67px;
}

.fa-thumbs-down{
    color: #8A8A8A
}

.fedbackFalse{
    color: #E02020;
    margin-top: 8px;
}

.fedbackTrue{
    color: #8A8A8A;
    margin-top: 8px;
}


.customIcon{
    height: 42px;
    width: 42px;
    border-radius: 40px;
    background-color: #FFBF33;
    font-size: 23px;
    margin-top: 12px;
    color: white;
    margin-left: 3px;
}

.Prospects{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 16px;
    margin-left: 59px;
    margin-top: 22px;
}

.prospectsRow{
    width: 95%;
    background-color: white;
    margin-left: 3%;
    height: 47px;
    box-shadow: 2px 2px 3px #0000001A;
    margin-top: 10px;
    text-align: center;
}

.contantInProspects{
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #8A8A8A;
    margin-top: 10px;
    line-height: 19px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.likeIcon{
    color: #9EC74A;
}

.dropdwon{
    color: #525557;
    border: solid 1px #525557;
}

.calenderIcon{
    color: #525557;
}

.fa-thumbs-down{
    color: #8A8A8A;
}

.dropdwon{

}

.dragDropdowmImg{
    position: absolute;
    margin-top: 6px !important;
    margin-left: -31px;
}

.dragDropdowmImg2{

    margin-top: 6px !important;
    margin-left: 13px;
}

.sectionDiv{
 padding-top: 9px;
}

.dragDropdowmImg3{
    margin-top: 13px !important;
    margin-left: 9px;
}

.fa-arrow-right{
    margin-left: 12px;
}

.dragDropdowmImg4{
    margin-top: 6px !important;
    margin-left: 9px;
}

.details{
    padding-top: 30px;
}

.droped{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    margin-left: 59px;
    padding-left: 12px;
    margin-top: 32px;
}

.dropedRow{
    width: 95%;
    background-color: white;
    margin-left: 3%;
    height: 62px;
    box-shadow: 2px 2px 3px #0000001A;
    margin-top: 20px;
    text-align: center;
}

.dropedMainRow{
    width: 100%;
    background-color: white;
    margin-left: 0%;
    height: 62px;
    box-shadow: 2px 2px 3px #0000001A;
    margin-top: 2px;
    text-align: center;
}

.firstImg{
    padding-left: 15px;
    margin-top: 12px;
}

.secondDiv{
    margin-left: 19px;
}

.contextMenu{
    margin-left: -28px;
    margin-top: 10px;
}

.menuButton{
    border: none;
    background-color: white;
}

.heading{
    height: 40px;
    background-color: white;
    margin-top: -29px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    padding-top: 6px;
    padding-left: 42px;
}

.contantInDroped{
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #8A8A8A;
    margin-top: 10px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.contantInMain{
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #8A8A8A;
    margin-top: 10px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
}

.imgSection{
    width: 95%;
    background-color: #F2F2F2;
    margin-left: 3%;
    height: 62px;
    margin-top: 20px;
    text-align: center;
}

.lastcol{
    width: 122px;
    margin-left: 3px;
    text-align: center;
}

.leads{
    padding-top: 10px;
}

.secondCal{
    margin-left: -12px !important;
    width: 177px !important;
}

.textleft{
    margin-left: 30px;
}

.contantInImgDiv{
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #8A8A8A;
    font-size: 12px;
    line-height: 20px;
}

.lastdroped{
    text-align: center !important;
    margin-left: -73px;
}


.example-list {
    width: 95%;
    max-width: 100%;
    /* border: solid 1px #ccc; */
    min-height: 60px;
    display: block;
    background: #F2F2F2;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 3%;
    margin-top: -5px;
  }
  
  .example-box {
    padding: 0px 1px;
    border-right: solid 1px rgb(186, 185, 185);
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    padding-top: 1px;
    margin-top: 24px;
    box-shadow: 2px 2px 3px #0000001A;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  