$icon-color:#9EC74A;
$white : white;
$green: green;
$box-shadow : #0000001A;
$font-color : #8A8A8A;
$left-border : #E6E6E6;
$dropdown-color : #525557;
$error-color: #E02020;
$dark-yellow : #FFBF33;

$font-large: 18px;
$normal-text: 14px;
$font-small: 12px;
$font-eleven: 11px;
$font-xsmall: 10px;
$heading-font: 24px;